name: {{ filebeat_name }}

{% if modules is defined %}
filebeat.modules:
{% for module in modules %}
- module: {{ module }}
{% endfor %}
{% endif %}

filebeat.prospectors:
{% for prospector in prospectors %}
- input_type: log
  paths:
{% for log in prospector.files %}
    - {{ log }}
{% endfor %}
{% if prospector.multiline is defined %}
  multiline.pattern: {{ prospector.multiline.pattern | quote }}
  multiline.negate: {{ prospector.multiline.negate }}
  multiline.match: {{ prospector.multiline.match }}
{% endif %}
  fields:
    document_type: {{ prospector.type }}
{% if timezone is defined %}
    timezone: {{ timezone }}
{% endif %}
{% if prospector.clean_inactive is defined %}
  clean_inactive: {{ prospector.clean_inactive }}
{% endif %}
{% if prospector.ignore_older is defined %}
  ignore_older: {{ prospector.ignore_older }}
{% endif %}
{% endfor %}
{% if enable_docker_logs %}
- type: log
  paths:
    - '/var/lib/docker/containers/*/*.log'
  json.message_key: log
  json.keys_under_root: true
  processors:
    - add_docker_metadata: ~
  fields:
    document_type: docker
{% endif %}

output.logstash:
  hosts: ["{{ logstash_host }}:{{ logstash_port }}"]
  max_retries: {{ max_retries }}

{% if enable_kibana_dashboard %}
setup.kibana.host: "{{ kibana_host }}:{{ kibana_port }}"
setup.dashboards.enabled: true
{% endif %}
