name: {{ filebeat_name }}
filebeat.prospectors:
{% for prospector in prospectors %}
- input_type: log
  paths:
{% for log in prospector.files %}
    - {{ log }}
{% endfor %}
{% if prospector.multiline is defined %}
  multiline.pattern: {{ prospector.multiline.pattern | quote }}
  multiline.negate: {{ prospector.multiline.negate }}
  multiline.match: {{ prospector.multiline.match }}
{% endif %}
{% if timezone is defined %}
  fields:
    timezone: {{ timezone }}
{% endif %}
{% if prospector.ignore_older is defined %}
  ignore_older: {{ prospector.ignore_older }}
{% endif %}
  document_type: {{ prospector.type }}
{% endfor %}

output.logstash:
  hosts: ["{{ logstash_host }}:{{ logstash_port }}"]
  max_retries: {{ max_retries }}